[global_config]
  title_transmit_fg_color = "#bcbcbc"
  title_transmit_bg_color = "#1c1c1c"
  title_inactive_fg_color = "#bcbcbc"
  title_inactive_bg_color = "#444444"

[profiles]
  [[apprentice]]
    palette = "#1c1c1c:#af5f5f:#5f875f:#87875f:#5f87af:#5f5f87:#5f8787:#6c6c6c:#444444:#ff8700:#87af87:#ffffaf:#8fafd7:#8787af:#5fafaf:#ffffff"
    foreground_color = "#bcbcbc"
    background_color = "#262626"
    cursor_color = "#bcbcbc"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = apprentice
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
