[apprentice]
    background-color: #262626 //R:38 G:38 B:38
    foreground-color: #bcbcbc //R:188 G:188 B:188
    cursor-color:     #bcbcbc //R:188 G:188 B:188
    color-palette-override: {"0":"#1c1c1c","1":"#af5f5f","2":"#5f875f","3":"#87875f","4":"#5f87af","5":"#5f5f87","6":"#5f8787","7":"#6c6c6c","8":"#444444","9":"#ff8700","10":"#87af87","11":"#ffffaf","12":"#8fafd7","13":"#8787af","14":"#5fafaf","15":"#ffffff"}
